.artist-list {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
    align-items: center;
}

.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.artist-card img {
    width: 300px;
    height: 200px;
}